@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --primary-color: #89001F;
    --secundary-color: #050089;
}

body {
    /* Com o código de fonte abaixo sendo declarado, o mesmo pode ser retirado facultativamente do código no arquivo reset.css */
    font-family: 'Poppins', sans-serif;
}